<!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">
            <!-- menu category -->
<div class="container position">
<div class="section menu-banner d-xs-none">
<div class="tiva-verticalmenu block">
<!-- *PLENTY nur Startseite class startmen--> <div class="box-content startmen">
{% include "CeresCoconut::kategorien" %}


</div>
</div>
</div>
</div>


<!--
<div class="section banner">
<div class="overlay"></div>
<div id="vidividi" class="vidstart" data-vide-bg="mp4: /layout/ceres1/video/dekushop, poster: /layout/ceres1/video/dekushop" data-vide-options="posterType: jpg, muted: true"></div>
</div>
slide show
-->



<div class="section banner">
	<div class="tiva-slideshow-wrapper">
	<div class="nivoSlider">
      <div style="position: absolute; left: 50%;">
      <div class="anayazi">

        <h3>Deku Reinigungsbedarf GmbH.</h3>

        <section class="intro animate-slide">
          <h1 class="ah-headline">
              <span class="ah-normal">IHR FACHGROßHANDEL FÜR &nbsp;</span>
              <span class="ah-words-wrapper">
                  <b class="is-visible"> HYGIENEARTIKEL</b>
                  <b> REINIGUNGSBEDARF</b>
                  <b> ARBEITSKLEIDUNG</b>
                  <b> ARBEITSSCHUTZARTIKEL</b>
		  <b> DESINFEKTIONSGERÄTE & ZUBEHÖR</b>
              </span>
          </h1>
      </section>
      </div>
      </div>
	</div></div>

</div>


        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <section class="page-home">
                        <div class="container">

                            <!-- delivery form -->
                            <div class="section policy-home col-lg-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy1">
                                                        <img src="/layout/ceres1/daten/dpd.svg" alt="img">
                                                        <div class="policy-name mb-5">Kostenlos Im raum Frankfurt</div>
                                                        <div class="policy-des hidden-xs">Kostenlose Lieferung im Raum Frankfurt</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tiva-html col-lg-4 col-md-4 col-xs-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy2">
                                                        <img src="/layout/ceres1/daten/rechnung.svg" alt="img">
                                                        <div class="policy-name mb-5">KAUF AUF RECHNUNG</div>
                                                        <div class="policy-des hidden-xs">Stammkunde - bequem per Rechnung</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tiva-html col-lg-4 col-md-4 col-xs-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy3">
                                                        <img src="/layout/ceres1/daten/service.svg" alt="img">
                                                        <div class="policy-name mb-5">SERVICEBEREIT</div>
                                                        <div class="policy-des hidden-xs">Profi-Service und persönliche Beratung</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





		 <div class="section living-room">

		<!-- recent posts -->
                        <div class="container">
                            <div class="section recent-post">


                                                    <h2 class="title-block"><span class="sub-title">Deku Reinigungsbedarf GmbH</span>IHR GROSSHANDEL IM RAUM FRANKFURT AM MAIN</h2><br><br>

                                <div class="row">
<div class="col-md-4">
	<div class="item-post">
	<div class="thumbnail-img hidden-xs"><img src="/layout/ceres1/daten/lager1.jpg" alt="img"></div>
	<div class="post-content"><div class="post-title">ABHOLLAGER & SHOWROOM</div>
	<div class="post-desc">
	In unserem neuen Showroom mit dem angrenzenden Abhollager warten über 5.000 unterschiedliche Artikel auf Sie, die ständig vorrätig sind.
	</div></div></div>
</div>
<div class="col-md-4">
	<div class="item-post">
	<div class="thumbnail-img hidden-xs"><img src="/layout/ceres1/daten/sonder.jpg" alt="img"></div>
	<div class="post-content"><div class="post-title">SONDERKONDITIONEN</div>
	<div class="post-desc">
	Lassen Sie sich als Stammkunde eintragen und genießen Sie die Vorteile aus attraktiven Konditionen und Sonderangeboten.
	</div></div></div>
</div>
<div class="col-md-4">
	<div class="item-post">
	<div class="thumbnail-img hidden-xs"><img src="/layout/ceres1/daten/lager.jpg" alt="img"></div>
	<div class="post-content"><div class="post-title">Nicht genügend Lagerplatz?</div>
	<div class="post-desc">
	Führen Sie Ihren Sammelbestellung aus, erhalten Sie freien Zugriff auf Ihre Bestellung für mindestens sechs Monate
	und sparen Sie somit an Lieferungs- und Lagerungskosten.

	</div></div></div>
</div>



                                </div>
                            </div>


                        </div>



                            <div class="section introduct-logo">
                                <div class="row">
                                <div class="container logos">
<p class="">Mehr als <strong>5.000 Produkte</strong> mit einer übersichtlichen Artikelanordnung, vielen attraktiven Angeboten und einem simplen Bestellablauf. </p>



<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=42" title="All Care" class="yazi"><img class="img-fluid" src="/layout/hersteller/allcare.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=75" title="Bingold" class="yazi"><img class="img-fluid" src="/layout/hersteller/bingold.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=7" title="Buzil" class="yazi"><img class="img-fluid" src="/layout/hersteller/buzil.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=33" title="Cleanfix" class="yazi"><img class="img-fluid" src="/layout/hersteller/cleanfix.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=85" title="Columbus" class="yazi"><img class="img-fluid" src="/layout/hersteller/columbus.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=77" title="Deb Stoko" class="yazi"><img class="img-fluid" src="/layout/hersteller/deb.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=46" title="Deiss" class="yazi"><img class="img-fluid" src="/layout/hersteller/deiss.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=11" title="Dr. Rauwald" class="yazi"><img class="img-fluid" src="/layout/hersteller/drrauwald.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=10" title="Dr. Schnell" class="yazi"><img class="img-fluid" src="/layout/hersteller/drschnell.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=12" title="Dreiturm" class="yazi"><img class="img-fluid" src="/layout/hersteller/dreiturm.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=8" title="ecolab" class="yazi"><img class="img-fluid" src="/layout/hersteller/ecolab.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=79" title="elsea" class="yazi"><img class="img-fluid" src="/layout/hersteller/elsea.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=71" title="Floorstar" class="yazi"><img class="img-fluid" src="/layout/hersteller/floorstar.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=39" title="Haug Bürsten" class="yazi"><img class="img-fluid" src="/layout/hersteller/haugbursten.jpg" alt="hersteller" /></a></div></div>
<!--<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=35" title="Kärcher" class="yazi"><img class="img-fluid" src="/layout/hersteller/karcher.jpg" alt="hersteller" /></a></div></div> -->
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=43" title="Katrin" class="yazi"><img class="img-fluid" src="/layout/hersteller/katrin.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=9" title="Kiehl" class="yazi"><img class="img-fluid" src="/layout/hersteller/kiehl.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=45" title="Kinsmann" class="yazi"><img class="img-fluid" src="/layout/hersteller/kinsmann2.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=40" title="Krause" class="yazi"><img class="img-fluid" src="/layout/hersteller/krause.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=24" title="Nilco" class="yazi"><img class="img-fluid" src="/layout/hersteller/nilco.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=25" title="Nilfisk" class="yazi"><img class="img-fluid" src="/layout/hersteller/nilfisk.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=57" title="Nölle" class="yazi"><img class="img-fluid" src="/layout/hersteller/nolle.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=73" title="Pakufol" class="yazi"><img class="img-fluid" src="/layout/hersteller/pakufol.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=66" title="Papernet" class="yazi"><img class="img-fluid" src="/layout/hersteller/papernet.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=30" title="Sprintus" class="yazi"><img class="img-fluid" src="/layout/hersteller/sprintus2.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=21" title="Sys" class="yazi"><img class="img-fluid" src="/layout/hersteller/systeco.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=13" title="Tana" class="yazi"><img class="img-fluid" src="/layout/hersteller/tana.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=74" title="Taski" class="yazi"><img class="img-fluid" src="/layout/hersteller/taski.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=31" title="Tork" class="yazi"><img class="img-fluid" src="/layout/hersteller/tork.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=32" title="Unger" class="yazi"><img class="img-fluid" src="/layout/hersteller/unger2.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=41" title="VepaBins" class="yazi"><img class="img-fluid" src="/layout/hersteller/vepabins.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=36" title="Vermop" class="yazi"><img class="img-fluid" src="/layout/hersteller/vermop.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=38" title="Vileda" class="yazi"><img class="img-fluid" src="/layout/hersteller/vileda.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=87" title="Diop" class="yazi"><img class="img-fluid" src="/layout/hersteller/diop.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=88" title="Portwest" class="yazi"><img class="img-fluid" src="https://cdn02.plentymarkets.com/8gpm1tc4al8c/frontend/Portwest.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=89" title="Dach" class="yazi"><img class="img-fluid" src="https://cdn02.plentymarkets.com/8gpm1tc4al8c/frontend/Dach.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=62" title="Solution" class="yazi"><img class="img-fluid" src="/layout/hersteller/solution.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=49" title="Moeller" class="yazi"><img class="img-fluid" src="/layout/hersteller/Moeller.jpeg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=55" title="Loba" class="yazi"><img class="img-fluid" src="/layout/hersteller/loba.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=90" title="Ilka" class="yazi"><img class="img-fluid" src="/layout/hersteller/ilka.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=91" title="Prodifa" class="yazi"><img class="img-fluid" src="/layout/hersteller/prodifa.jpeg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=82" title="VDM" class="yazi"><img class="img-fluid" src="/layout/hersteller/vdm.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=81" title="Leiber" class="yazi"><img class="img-fluid" src="/layout/hersteller/leiber.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=92" title="Sico" class="yazi"><img class="img-fluid" src="/layout/hersteller/sico.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=65" title="Kleen-Tex" class="yazi"><img class="img-fluid" src="/layout/hersteller/KleenTex.jpg" alt="hersteller" /></a></div></div>
<div class="item"><div class="logo-manu"><a href="/alle-produkte?facets=93" title="SC Johnson" class="yazi"><img class="img-fluid" src="/layout/hersteller/scj.png" /></a></div></div>


<br><br><br>

                                </div>
                                </div>
                            </div>

						</div>




<div class="featured-product">

<div class="title-tab-content  text-center">
<div class="title-product justify-content-between">
<img src="/layout/ceres1/daten/sale.png"><br><h2>AKTUELLE ANGEBOTE</h2><p style="color:red">Jeden Monat neue Angebote entdecken!</p><br>
</div></div>
<div class="tab-content" style="display:inline-block;">
<ul class="product-list">
{% include "CeresCoconut::Containers.ItemLists.ItemList3" %}
</ul>
</div>

<!--
<div class="featured-category">

	<div class="tab-content text-center">
		<div class="title-product">
			<h2>Unser Sortimentsbereich</h2>
			<p>Produkte nach Branche</p>
		</div>
		<div class="featured owl-carousel owl-theme">

<div class="content-category">
	<div class="content-img"><a href="{{ services.category.getURLById(1453) }}"><img class="img-fluid" src="/layout/ceres1/daten/k5.jpg" alt="Fensterreinigung" title="Fensterreinigung"></a></div>
	<div class="info-category">
		<h3><a href="{{ services.category.getURLById(1453) }}">Fensterreinigung</a></h3><p>Alles aus einer Hand</p>
	</div>
</div>
<div class="content-category">
	<div class="content-img"><a href="{{ services.category.getURLById(1449) }}"><img class="img-fluid" src="/layout/ceres1/daten/k2.jpg" alt="Büro" title="Büro"></a></div>
	<div class="info-category">
		<h3><a href="{{ services.category.getURLById(1449) }}">Büro</a></h3><p>Unbegrenzte Individualisierungsmöglichkeiten</p>
	</div>
</div>
<div class="content-category">
	<div class="content-img"><a href="{{ services.category.getURLById(1450) }}"><img class="img-fluid" src="/layout/ceres1/daten/k3.jpg" alt="Wohnen" title="Wohnen"></a></div>
	<div class="info-category">
		<h3><a href="{{ services.category.getURLById(1450) }}">Wohnen</a></h3><p>Mit Sicherheit gut versorgt</p>
	</div>
</div>
<div class="content-category">
	<div class="content-img"><a href="{{ services.category.getURLById(1451) }}"><img class="img-fluid" src="/layout/ceres1/daten/k4.jpg" alt="Sanitär" title="Sanitär"></a></div>
	<div class="info-category">
		<h3><a href="{{ services.category.getURLById(1451) }}">Sanitär</a></h3><p>Der Mensch im Mittelpunkt</p>
	</div>
</div>
<div class="content-category">
	<div class="content-img"><a href="{{ services.category.getURLById(1452) }}"><img class="img-fluid" src="/layout/ceres1/daten/k1.jpg" alt="Gastronomie" title="Gastronomie"></a></div>
	<div class="info-category">
		<h3><a href="{{ services.category.getURLById(1452) }}">Gastronomie</a></h3><p>Alles aus einer Hand</p>
	</div>
</div>



		</div>
</div>
</div>
-->


                        </div>


	<!-- delivery form -->











                        <!-- SHOP THE LOOK -->
                        <div class="section spacing-10 groupbanner-special ">
                            <div class="title-block">
                                <span class="sub-title"><img src="/layout/ceres1/daten/dlogo.svg" style="max-height:55px;"></span>
                                <span>SERVICE</span>
                                <span>individuell, kompetente und
                                    <br>kundenorientierte Leistungen.</span>
                            </div>

                            <div class="row group-image-special">

<div class="tiva-lookbook default col-lg-6 col-md-6 col-xs-12">
	<div class="row">
		<div class="items col-lg-12 col-sm-12 col-xs-12">
			<div class="block"><div class="effect">
			<a href="{{ services.category.getURLById(1447) }}"><span>Berufskleidung mit Logo
			<p>Wir besticken & bedrucken Kleidung. Ab 1 Stück. Jetzt gleich Angebot anfordern!</p>
			</span><img class="img-fluid width-100" src="/layout/ceres1/daten/stick.jpg" alt="Berufskleidung" title="Berufskleidung"></a>
			</div></div>
		</div>
	</div>
</div>
<div class="tiva-lookbook default col-lg-6 col-md-6 col-xs-12">
	<div class="row">
		<div class="items col-lg-12 col-sm-12 col-xs-12">
			<div class="block"><div class="effect">
			<a href="{{ services.category.getURLById(1445) }}"><span>Leasing & Finanzierung
			<p>Leasing- und Mietkaufangebote für Reinigungsmaschinen zu günstigen Kontitionen.</p>
			</span><img class="img-fluid width-100" src="/layout/ceres1/daten/finanz.jpg" alt="Leasing" title="Leasing"></a>
			</div></div>
		</div>
	</div>
</div>
<div class="tiva-lookbook default col-lg-6 col-md-6 col-xs-12">
	<div class="row">
		<div class="items col-lg-12 col-sm-12 col-xs-12">
			<div class="block"><div class="effect">
			<a href="{{ services.category.getURLById(1446) }}"><span>Kauf auf rechnung
			<p>Stammkunden können bei uns auch bequem per Rechnung bezahlen.</p>
    </span><img class="img-fluid width-100" src="/layout/ceres1/daten/rechnung.jpg" alt="KaufAufRechnung" title="KaufAufRechnung"></a>
			</div></div>
		</div>
	</div>
</div>
<div class="tiva-lookbook default col-lg-6 col-md-6 col-xs-12">
	<div class="row">
		<div class="items col-lg-12 col-sm-12 col-xs-12">
			<div class="block"><div class="effect">
			<a href="{{ services.category.getURLById(1448) }}"><span>Nicht genügend Lagerplatz?
			<p>Wir haben die perfekte Lösung für Sie! Weitere Details >></p>
			</span><img class="img-fluid width-100" src="/layout/ceres1/daten/lager2.jpg" alt="Lagerplatz" title="Lagerplatz"></a>
			</div></div>
		</div>
	</div>
</div>


                            </div>
                        </div>


                    </section>





 <!-- testimonial -->
                            <div class="section testimonial-block col-lg-12 col-xs-12">

                                    <div class="col-lg-12 col-md-12 ">
                                        <div class="block">
                                            <div class="owl-carousel testimonial-type-one">
                                                <div class="item type-one d-flex align-items-center flex-column">
													<div class="title-product">
			<h2>Unser Serviceangebot</h2>
			<p>Wir helfen Ihnen gerne. Rufen Sie uns an.</p>
		</div>
                                                    <div class="textimonial-image">
                                                        <img src="/layout/ceres1/daten/hotline.png" style="height:100px; width:auto;">
                                                    </div>
                                                    <div class="desc-testimonial">
<div class="testimonial-content">
<div class="text">
<p style="font-style:italic">Zu unserer Firmenstrategie gehört es, dem Kunden und den Markenpartnern stets einen Mehwert zu bieten.<br>Der Kunde und Geschäftspartner steht in erster Linie als Mensch bei uns im Mittelpunkt.</p>
<p style="color:#555; font-weight:500;">Sie erreichen uns von Montag - Freitag in der Zeit von 08:00 - 16:00 Uhr und Samstag von 08:30 - 12:30 Uhr.</p>
</div>
</div>
                                                        <div class="testimonial-info">
                                                            <h5 class="mt-0 box-info"><a href="tel:08005522600">0800 55 22 600</a></h5>
                                                            <p class="box-dress"><a href="mailto:info@dekushop.de">info@dekushop.de</a></p>
                                                        </div>




                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                            </div>






                </div>
            </div>
        </div>
    </div>
