{{ component("CeresCoconut::Category.Components.CategoryBreadcrumbs") }}
{% set homepageURL = services.url.getHomepageURL() %}
{% if categoryBreadcrumbs is not empty %}
<nav data-component="breadcrumbs" data-renderer="twig" class="breadcrumb-bg hidden-sm-down">
<div class="container no-index">
<div class="breadcrumb">
<div style="float:left;">
	<ol>
	<li><a href="{{ homepageURL }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
	{% set break = false %}
	{% for category in categoryBreadcrumbs[:categoryBreadcrumbs | length - 1] if not break %}
			{% if category.details[0] %}
					<li><a href="{{ services.category.getURLById( category.id ) }}">{{ category.details[0].name }}</a></li>
			{% else %}
					{% set break = true %}
			{% endif %}
	{% endfor %}

	{% set lastCategory = categoryBreadcrumbs | last %}
	{% if lastCategory.details is defined %}
			<li><span>{{ lastCategory.details[0].name }}</span></li>
	{% else %}
			<li v-cloak v-if="$store.state.item.variation.documents"><span>${ $store.state.item.variation.documents[0].data | itemName }</span></li>
	{% endif %}
	</ol>
</div>

</div>
</div></nav>
<category-breadcrumbs template="#vue-category-breadcrumbs"></category-breadcrumbs>
{% endif %}
